@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

/* ヘッダー */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(255, 255, 255, 0.8);
    &__fade {
        opacity: 0;
        animation: appear_header 2.5s forwards;
        animation-delay: 4.5s;
    }
    & .content-width {
        max-width: 1000px;
        padding: 0 2%;
        height: 100px;
        display: flex;
        align-items: center;
        z-index: 100;
        @include media-query {
            position: fixed;
            top: 0;
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255, 0.8);
        }
    }
    &__menu__logo__link {
        font-size: 3rem;
        line-height: 60px;
        color: $color-text;
        font-weight: bold;
        @include media-query {
            font-size: 2.3rem;
            display: block;
        }
    }
}

// ハンバーガーメニュー

.header__nav {
    margin-left: auto;
    &__list {
        display: flex;
        align-items: center;
        font: 500 15px/1em "noto sans japanese", sans-serif;
        & a {
            letter-spacing: 2px;
            display: block;
            padding: 0 5px 5px;
            font: 500 18px/1em "noto sans japanese", sans-serif;
            position: relative;
            &::before {
                background: $color-text;
                content: "";
                width: 90%;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
                margin: auto;
                transform-origin: right top;
                transform: scale(0, 1);
                transition: transform 0.3s;
            }
            &:hover::before {
                transform-origin: left top;
                transform: scale(1.1);
            }
        }
    }
    &__list > li + li {
        margin-left: 30px;
    }
}

@include media-query {
    .header__menu {
        display: flex;
        &__logo {
            position: absolute;
            left: 0;
            margin-left: 25px;
        }
    }
    .hamburger {
        position: absolute;
        z-index: 200;
        box-sizing: border-box;
        top: 0;
        right: 0;
        display: inline-block;
        width: 60px;
        height: 60px;
        & span {
            position: absolute;
            top: 19px;
            left: 17px;
            display: inline-block;
            width: 30px;
            height: 3px;
            border-radius: 2px;
            vertical-align: top;
            background-color: $color-text;
            transition: all 0.5s;
            &:nth-child(2) {
                margin-top: 10px;
            }
            &:last-child {
                margin-top: 20px;
            }
        }
        &.open span {
            top: 29px;
            left: 14px;
            width: 35px;
            margin: 0;
            &:first-child {
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                transform: rotate(-135deg);
            }
        }
    }
    .header__nav {
        position: fixed;
        z-index: 50;
        top: 60px;
        padding-top: 60px;
        background-color: $color-black;
        width: 100vw;
        height: 100vh;
        margin: auto;
        opacity: 0.7;
        right: -105%;
        display: block;
        transition: right 0.5s;
        &.open {
            right: 0;
        }
        &__list {
            margin-top: 50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: $color-white;
            font: 500 10px/1em "noto sans japanese", sans-serif;
            & li a {
                color: $color-white;
                display: block;
                font-size: 30px;
            }
            & > li + li {
                margin-left: 0;
                margin-top: 60px;
            }
        }
    }
}
