@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// アコーディオン

.faq_wrap {
    width: 90%;
    border: 2px solid $color-main;
    border-radius: 10px;
    margin: 0 auto 70px;
    @include media-query {
        margin: 0 auto 50px;
    }
}
.faq_wrap label {
    padding: 10px;
    background: $color-main;
    display: flex;
    gap: clamp(1.25rem, 0.5rem + 3.2vw, 2.5rem);
    font-weight: bold;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    align-items: center;
}
.faq_wrap label p {
    font-size: clamp(1.5rem, 1.05rem + 1.92vw, 2.25rem);
    color: $color-white;
}
.faq_wrap label p:nth-child(2) {
    font-size: clamp(1rem, 0.7rem + 1.28vw, 1.5rem);
    color: $color-white;
}
.faq_wrap label img {
    width: clamp(1.563rem, 1.188rem + 1.6vw, 2.188rem);
    height: clamp(1.563rem, 1.188rem + 1.6vw, 2.188rem);
}
// チェックボックスを非表示にする
.faq_wrap input {
    display: none;
}
// 三角矢印アイコン
.arrow {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 24px;
    margin-left: 6px;
    flex-shrink: 0;
    transform-origin: center 43%;
    transition: transform 0.5s;
}
.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 3px;
    background-color: $color-white;
}
.arrow::before {
    left: 0;
    transform: rotate(45deg);
}
.arrow::after {
    right: 0;
    transform: rotate(-45deg);
}
// コンテンツ初めは非表示
.faq_content {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
}
.faq_content p {
    font-size: clamp(0.875rem, 0.8rem + 0.32vw, 1rem);
    background-color: $color-white;
    margin: 0;
    padding: 1em;
    border-radius: 0 0 8px 8px;
}
.faq_content a {
    color: $color-main;
}
// クリックするとコンテンツ表示
.faq_wrap input:checked ~ .faq_content {
    max-height: 200px;
    opacity: 1;
    visibility: visible;
}
// アコーディオン表示の際に三角回転
.faq_wrap input:checked ~ label .arrow {
    transform: rotate(180deg);
}
