@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// アコーディオン

.faq__wrap {
    width: 90%;
    border: 2px solid $color-main;
    border-radius: 10px;
    margin: 0 auto 70px;
    @include media-query {
        margin: 0 auto 50px;
    }
    & input {
        display: none;
        &:checked ~ .faq__wrap__content {
            max-height: 200px;
            opacity: 1;
            visibility: visible;
        }
        &:checked ~ label span {
            transform: rotate(180deg);
        }
    }
    & label {
        padding: 10px;
        background: $color-main;
        display: flex;
        gap: clamp(1.25rem, 0.5rem + 3.2vw, 2.5rem);
        font-weight: bold;
        position: relative;
        cursor: pointer;
        border-radius: 6px;
        align-items: center;
        & p {
            font-size: clamp(1.5rem, 1.05rem + 1.92vw, 2.25rem);
            color: $color-white;
            line-height: 1.2;
            &:nth-child(2) {
                font-size: clamp(1rem, 0.7rem + 1.28vw, 1.5rem);
                color: $color-white;
            }
        }
        & img {
            width: clamp(1.563rem, 1.188rem + 1.6vw, 2.188rem);
            height: clamp(1.563rem, 1.188rem + 1.6vw, 2.188rem);
        }
        & span {
            display: block;
            position: absolute;
            right: 20px;
            top: 50%;
            width: 24px;
            margin-left: 6px;
            flex-shrink: 0;
            transform-origin: center 43%;
            transition: transform 0.5s;
            &::before,
            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 15px;
                height: 3px;
                background-color: $color-white;
            }
            &::before {
                left: 0;
                transform: rotate(45deg);
            }
            &::after {
                right: 0;
                transform: rotate(-45deg);
            }
        }
    }
    &__content {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        overflow: hidden;
        & p {
            background-color: $color-white;
            margin: 0;
            padding: 1em;
            border-radius: 0 0 8px 8px;
        }
        & a {
            color: $color-main;
        }
    }
}
