@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// ポップアップ

.popup {
    display: none;
}
// ポップアップwindow部分
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 70;
    width: 100%;
    height: 100%;
}
// オーバーレイの背景部分
#bg_gray {
    background: $color-black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 80;
}
// ウィンドウ部分
#window {
    width: 60%;
    max-width: 800px;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $color-white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.6);
    z-index: 90;
    opacity: 0;
    line-height: 2;
    font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
    @include media-query {
        width: 80%;
    }
}
#window h3 {
    font-size: clamp(0.938rem, 0.733rem + 1.02vw, 1.5rem);
    text-align: left;
}
// 閉じるボタン
#btn_cloth {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-main;
    border-radius: 5px;
    z-index: 100;
    cursor: pointer;
    @include media-query {
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
    }
}
#btn_cloth:hover {
    opacity: 0.7;
}
#btn_cloth span,
#btn_cloth span::before {
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: $color-white;
}
#btn_cloth span {
    transform: rotate(45deg);
}
#btn_cloth span::before {
    content: "";
    position: absolute;
    bottom: 0;
    transform: rotate(-90deg);
}
// クリックで表示
#popup:checked ~ #overlay,
#popup2:checked ~ #overlay {
    visibility: visible;
}
#popup:checked ~ #overlay #window,
#popup2:checked ~ #overlay #window {
    animation: popup 500ms forwards;
    animation-timing-function: ease-in-out;
}
@keyframes popup {
    100% {
        opacity: 1;
    }
}
#txt_label {
    cursor: pointer;
}
#txt_label:hover {
    opacity: 0.7;
}
