@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

.contact {
    background-color: $color-sub;
    &__title {
        height: 300px;
        background-color: $color-white;
        text-align: center;
        padding: 180px 0 0;
        letter-spacing: 0.1em;
        @include media-query {
            height: 200px;
            padding: 90px 0 0;
        }
        & h1 {
            font-size: clamp(3rem, -1rem + 8vw, 4rem);
            letter-spacing: 8px;
            color: $color-text;
            border-bottom: 3px solid;
            display: inline-block;
        }
        & span {
            font-size: clamp(1rem, 0.85rem + 0.64vw, 1.25rem);
            font-weight: bold;
            letter-spacing: 4px;
            display: block;
        }
    }
    &__content {
        background-color: $color-white;
        border-radius: 20px;
        padding: 20px;
        margin: 50px 0;
        &__text {
            margin: 30px 0;
            font-size: clamp(1rem, 0.925rem + 0.32vw, 1.125rem);
            text-align: center;
            @include media-query {
                margin: 30px 0 0;
            }
        }
        &__text-complete {
            margin: 50px 0 80px;
            font-size: clamp(1rem, 0.925rem + 0.32vw, 1.125rem);
            text-align: center;
            @include media-query {
                margin: 30px 0 40px;
            }
        }
    }
}
